# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.*
!.env.example

cypress/videos/
cypress/screenshots/
cypress/downloads/

*.wasm
coverage/

*.tar.xz
clang+llvm-14.0.0-x86_64-linux-gnu-ubuntu-18.04
