[submodule "vendor/katex-renderer"]
	path = vendor/katex-renderer
	url = https://github.com/D3PSI/katex-renderer.git
[submodule "vendor/serde-crypt"]
	path = vendor/serde-crypt
	url = https://github.com/d3psi/serde-crypt.git
[submodule "vendor/serde-crypt-macro"]
	path = vendor/serde-crypt-macro
	url = https://github.com/d3psi/serde-crypt-macro
